{% extends 'base.html.twig' %}

{% block title %}Panier | Échoppe - Legermain{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles/echoppe') }}
    {{ encore_entry_link_tags('styles/panier') }}
{% endblock %}

{% block body %}
    <a href="{{ path('echoppe_index') }}">
        <div class="container-fluid ech-bandeau" style="background-image: url({{ asset('build/images/echoppe_bandeau.png') }})">
            <h1><span>Legermain</span><span class="ech-title">Échoppe</span></h1>
        </div>
    </a>
    <a href="{{ path('home') }}">
        <img class="ech-logo" src="{{ asset('build/images/logo.png') }}" alt="Logo Legermain">
    </a>
    <div class="container">
        <h1>Panier</h1>
        {% if cart.items.count > 0 %}
            <div class="row">
                <div class="col-8">
                    {{ form_start(form) }}
                    <div class="card">
                        <div class="card-header d-flex">
                            <div>
                                {{ form_widget(form.save, {'attr': {'class': 'btn crt-save'}}) }}
                                {{ form_widget(form.clear, {'attr': {'class': 'btn crt-clear'}}) }}
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for item in form.items %}
                                <li class="list-group-item d-flex">
                                    <div class="flex-fill mr-2">
                                        <img src="{% if(item.vars.data.product.file is not null) %}{{ vich_uploader_asset(item.vars.data.product, 'imageFile') }}{% else %}{{ asset('build/images/product_no_image.png') }}{% endif %}" alt="{{ item.vars.data.product.name }}">
                                    </div>
                                    <div class="flex-fill mr-2">
                                        <h5 class="mt-0 mb-0">{{ item.vars.data.product.name }}</h5>
                                        <div class="form-inline mt-2">
                                            <div class="form-group mb-0 mr-2">
                                                {{ form_widget(item.quantity, {
                                                    'attr': {
                                                        'class': 'form-control form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid')
                                                    }
                                                }) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(item.quantity) }}
                                                </div>
                                            </div>
                                            {{ form_widget(item.remove, {'attr': {'class': 'btn'}}) }}
                                        </div>
                                    </div>
                                    <div class="flex-fill mr-2 text-right">
                                        <b>{{ item.vars.data.product.price / 100 }} €</b>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {{ form_end(form) }}
                <div class="col-4">
                    <div class="card mt-4 mt-md-0">
                        <h5 class="card-header">Récapitulatif</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <div><b>Total</b></div>
                                <span><b>{{ cart.total / 100 }} €</b></span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn">Payer</a>
                        </div>
                    </div>
                    <a class="btn crt-retour" href="{{ path('echoppe_index') }}">Continuer vos achats</a>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info">
                Votre panier est vide. Retournez à <a href="{{ path('echoppe_index') }}">l'accueil</a>.
            </div>
        {% endif %}
    </div>
{% endblock %}