{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles/account') }}
{% endblock %}
{% block title %}Compte{% endblock %}

{% block body %}
    {{ include('menu/menu.html.twig', {lightMode: true}) }}
    <div class="main-content">
        <div class="lg-account-tabs">
            <div class="tab">
                <button class="tablinks" onclick="showSettings(event, 'Account')" id="defaultOpen">Compte</button>
                <button class="tablinks" onclick="showSettings(event, 'Orders')">Commandes</button>
                <button class="tablinks" onclick="showSettings(event, 'Password')">Mot de Passe</button>
            </div>

            <div id="Account" class="tabcontent mt-3">
                <p class="lg-account-help">Vous trouverez ici vos informations personnelles</p>
                <form class="lg-account-userDatas col" method="post">
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-column lg-account-userDatas-name">
                            <label for="name">Nom</label>
                            <input class="lg-account-inputText" name="name" type="text" value="{{ user.nom }}" pattern="([A-Za-z]+(['|\-|\s]?[A-Za-z]+)*)+">
                        </div>
                        <div class="d-flex flex-column lg-account-userDatas-firstName mx-3">
                            <label for="firstName">Prenom</label>
                            <input class="lg-account-inputText lg-account-userDatas-firstName" name="firstName"
                                   type="text" value="{{ user.prenom }}" pattern="([A-Za-z]+(['|\-|\s]?[A-Za-z]+)*)+">
                        </div>
                    </div>
                    <div class="d-flex flex-column lg-account-userDatas-phone mt-2">
                        <label for="phone">Télephone</label>
                        <input class="lg-account-inputText lg-account-userDatas-phone" name="phone"
                               type="text" value="{{ user.telephone }}" pattern="^(\+\d{1,2}\s?)?1?\-?\.?\s?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$">
                    </div>
                    <div class="d-flex flex-column mt-3">
                        <label for="email">Email</label>
                        <input class="lg-account-inputText" name="email" type="email" value="{{ user.email }}">
                    </div>
                    <input class="lg-subitButton mt-5 float-end mt-5 float-end" type="submit" value="Sauvegarder">
                </form>
            </div>

            <div id="Orders" class="tabcontent">
                <p class="lg-account-help">Vous trouverez ici la liste de vos commandes</p>
                <div class="lg-account-orders">
                    <table class="lg-account-order">
                        <thead>
                        <tr>
                            <th>ID Commande</th><th class="mx-3">Prix Total</th><th>Date Commande</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <td>{{ order.id }}</td><td class="mx-3">{{ order.total }}</td><td>{{ order.dateCreation|date }}</td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="Password" class="tabcontent">
                <form class="lg-account-userDatas col">
                    <p class="lg-account-help">Vous trouverez ici la possibilitées de modifier votre mot de passe</p>
                    <a class="lg-subitButton mt-5 float-end mt-5 float-end" href="{{ path('app_forgot_password_request') }}" style="text-decoration: none;">Réinitialiser votre mot de passe</a>
                </form>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            function showSettings(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            document.getElementById("defaultOpen").click();
        </script>
    {% endblock %}

{% endblock %}
