{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles/jobs') }}
{% endblock %}
{% block title %}Recrutement{% endblock %}
{% block body %}
    {{ include('menu/menu.html.twig', {lightMode: true}) }}

    <div class="main-content">
        <form>
            <div class="lg-searchBar d-flex flex-row p-2 my-3 px-3">
                <a href="{{ path('job_offer_index') }}"><img class="lg-searchBar-icon col-1 mt-2" src="{{ asset('build/images/search.png') }}"></a>
                <input id="jobsFilter" class="col-5" name="jobsFilter" type="text" placeholder="Asssistant...">
                <div class="lg-searchBar-dropDown d-flex flex-row col" data-mate-select="active">
                    <select class="lg-searchBar-dropDown-tags" name="jobsFilterStyle">
                        <option selected value="0">Type</option>
                        <option value="1">Sur place</option>
                        <option value="2">Télétravail</option>
                    </select>
                    <select class="lg-searchBar-dropDown-tags" name="jobsFilterType">
                        <option selected value="0">Emploi</option>
                        <option value="1">Stage</option>
                    </select>
                </div>
                <input id="lg-searchBar-submit" class="col" type="submit" value="Rechercher !">
            </div>
        </form>
        <p id="lg-result">{{ job_offers|length > 0 ? 'Il y a '~ job_offers|length ~' résultats correspondant à votre recherche' : 'Pas de résultats' }}</p>
        <div class="list-group">
            {% for job_offer in job_offers %}
                <a class="list-link" href="{{ path('job_offer_show', {'id': job_offer.id}) }}">
                    <div class="list-jobs" onclick="{{ path('job_offer_show', {'id': job_offer.id}) }}">
                        <div class="job-item my-3 d-flex flex-column position-relative">
                            <div class="job-info d-flex justify-content-between">
                                <h1 class="job-title">{{ job_offer.title }}</h1>
                                <div class="job-tags d-flex flex-row position-absolute">
                                    <span class="job-tag p-1">{{ job_offer.jobType == 0 ? 'Stage' : 'Emploi' }}</span>
                                    <span class="job-tag p-1">{{ job_offer.jobStyle == 0 ? 'Sur place' : 'Télétravail' }}</span>
                                </div>
                            </div>
                            <p class="job-description mt-2">{{ job_offer.description }}</p>
                            <h4 class="job-publication d-flex flex-row align-items-end flex-column">{{ job_offer.publicationDate ? job_offer.publicationDate|ago(locale='fr') }}</h4>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>
{% endblock %}
