{% extends 'base.html.twig' %}

{% block title %}JobOffer index{% endblock %}

{% block body %}
    <h1>Menu</h1>
    <form>
        <input name="jobsFilter" type="search">
        <input type="submit" value="Sort">
    </form>
    <p>{{ job_offers|length > 0 ? 'Il y a X  résultats correspondant à votre recherche' : 'Pas de résultats' }}</p>

    <div class="list-group">
        {% for job_offer in job_offers %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start my-1 active .col-sm">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ job_offer.title }}</h5>
                    <small>{{ job_offer.publicationDate ? job_offer.publicationDate|ago(locale='fr') }}</small>
                </div>
                <p class="mb-1">{{ job_offer.description }}</p>
                <small>Donec id elit non mi porta.</small>
            </a>
        {% endfor %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Details</th>
            <th>JobType</th>
            <th>PublicationDate</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for job_offer in job_offers %}
            <tr>
                <td>{{ job_offer.id }}</td>
                <td>{{ job_offer.title }}</td>
                <td>{{ job_offer.description }}</td>
                <td>{{ job_offer.details }}</td>
                <td>{{ job_offer.jobType }}</td>
                <td>{{ job_offer.publicationDate ? job_offer.publicationDate|ago(locale='fr') }}</td>
                <td>
                    <a href="{{ path('job_offer_show', {'id': job_offer.id}) }}">show</a>
                    <a href="{{ path('job_offer_edit', {'id': job_offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_offer_new') }}">Create new</a>
{% endblock %}
