{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Administration de Legermain' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('styles/dashboard') }}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            Bienvenue dans le panel d'administration du site Legermain !
                        </h3>
                        <div class="scribens-layout">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                Nombre actuel d'articles
                            </h5>
                            <div class="card-body">
                                <h2 class="text-center">
                                    {{ articles }}
                                </h2>
                            </div>
                            <div class="card-footer">
                            </div>
                            <div class="scribens-layout">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                Nombre actuel d'utilisateurs
                            </h5>
                            <div class="card-body">
                                <h2 class="text-center">
                                    {{ accounts }}
                                </h2>
                            </div>
                            <div class="card-footer">
                            </div>
                            <div class="scribens-layout">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                Nombre actuel de commentaires
                            </h5>
                            <div class="card-body">
                                <h2 class="text-center">
                                    {{ commentaires }}
                                </h2>
                            </div>
                            <div class="card-footer">
                            </div>
                            <div class="scribens-layout">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                Nombre actuel d'articles
                            </h5>
                            <div class="card-body">
                                <h2 class="text-center">
                                    {{ realisations }}
                                </h2>
                            </div>
                            <div class="card-footer">
                            </div>
                            <div class="scribens-layout">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
