{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} | Échoppe - Legermain{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles/echoppe') }}
    {{ encore_entry_link_tags('styles/produit') }}
{% endblock %}

{% block body %}
    <a href="{{ path('echoppe_index') }}">
        <div class="container-fluid ech-bandeau" style="background-image: url({{ asset('build/images/echoppe_bandeau.png') }})">
            <h1><span>Legermain</span><span class="ech-title">Échoppe</span></h1>
        </div>
    </a>
    <a href="{{ path('home') }}">
        <img class="ech-logo" src="{{ asset('build/images/logo.png') }}" alt="Logo Legermain">
    </a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 pr-img">
                <img src="{% if(product.file is not null) %}{{ vich_uploader_asset(product, 'imageFile') }}{% else %}{{ asset('build/images/product_no_image.png') }}{% endif %}" alt="{{ product.name }}">
            </div>
            <div class="col-6 pr-info">
                <h1>{{ product.name }}</h1>
                <h2>Prix : {{ product.price}} €</h2>
                <p class="pr-desc">{{ product.description }}</p>
                {% if app.user %}
                    <div class="pr-add-cart">
                        {{ form_start(form) }}
                        <div class="form-group pr-quantity">
                            {{ form_label(form.quantity) }}
                            {{ form_widget(form.quantity, {'attr' : {'class' : 'form-control'~(form.quantity.vars.valid ? '' : 'is-invalid')}}) }}
                        </div>
                        <div class="form-group pr-button">
                            {{ form_widget(form.add) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                {% else %}
                    <p class="pr-connect"><a href="{{ path('app_login') }}">Connectez vous</a> pour commander ce produit !</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}