{% extends 'base.html.twig' %}

{% block title %}CustomerRequest index{% endblock %}

{% block body %}
    <h1>CustomerRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>ImageList</th>
                <th>RequestState</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer_request in customer_requests %}
            <tr>
                <td>{{ customer_request.id }}</td>
                <td>{{ customer_request.description }}</td>
                <td>{{ customer_request.imageList }}</td>
                <td>{{ customer_request.requestState }}</td>
                <td>
                    <a href="{{ path('customer_request_show', {'id': customer_request.id}) }}">show</a>
                    <a href="{{ path('customer_request_edit', {'id': customer_request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customer_request_new') }}">Create new</a>
{% endblock %}
