<div id="myNav" class="overlay">
    <a class="closebtn" onclick="closeNav()" style="cursor: pointer"><div>&times;</div></a>
    <div class="overlay-content align-content-center">
        <a href="{{ path('home')}}"><img class="lg-home-logo my-2" src="{{ asset('build/images/logo.png') }}" style="width: 7em; cursor: pointer" alt="Logo Legermain"></a>
        <a href="{{ path('realisation_index')}}">Réalisations</a>
        <a href="{{ path('article_index')}}">Articles</a>
        <a href="{{ path('echoppe_index')}}">Echoppe</a>
        <a href="{{ path('job_offer_index')}}">Recrutement</a>
        <a href="{{ path('contact_index')}}">Contact</a>
        <hr class="lg-home-spacer my-3" style="height: 4px; width: 15em"/>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin')}}">Administration</a>
                <a href="{{ path('app_logout')}}">Deconnexion</a>
            {% elseif is_granted('ROLE_USER') %}
                <a href="{{ path('app_login')}}">Compte</a>
                <a href="{{ path('app_logout')}}">Deconnexion</a>
            {% else %}
                <a href="{{ path('app_login')}}">Connexion</a>
                <a href="{{ path('inscription')}}">Inscription</a>
            {% endif %}

    </div>
</div>
<h1 class="lg-home-title position-absolute mx-4 my-4" style="cursor: pointer; color: {{ lightMode ? '#081E0A' : 'white' }}" onclick="openNav()">Menu</h1>

{% block javascripts %}
    {{ encore_entry_script_tags('js/menu') }}
{% endblock %}