{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles/article') }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1 class="align-content-center">Articles</h1>

        <div class="row">
            {% for article in articles %}
                <div class="col-12 article">
                    <a href="{{ path('article_show', {slug: article.slug}) }}">
                        <div class="card d-flex flex-row {{ article.highlighted ? 'lg-article-big' : 'lg-article-small' }}">
                            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}" class="card-img-right">
                            <div class="card-body">
                                <h2>{{ article.title }}</h2>
                                <div class="lg-article-content">
                                    {{ article.content|raw }}
                                </div>
                                <p class="lg-date d-flex align-items-end">{{ article.publicationDate|date("d/m/Y") }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
