{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles/article_show') }}
{% endblock %}
{% block body %}
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <div class="container">
        <div class="row d-flex flex-row lg-article-show-article">
<!--
            <a href="{{ path('article_index2') }}">Retour</a>
-->
            <div class="lf-article-show-title d-flex flex-row">
                <div class="col-6">
                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}">
                </div>
                <div class="col-6">
                    <h1 class="d-flex">{{ article.title }}</h1>
                </div>
            </div>
            <div class="lg-article-show-content">
                {{ article.content|raw }}
            </div>
        </div>
        <hr>
        <div class="row">
            {% if app.user %}
            <h2>Commentaires</h2>
            {{ form_start(form) }}
            {{ form_end(form) }}
            {% else %}
                <p><a href="{{ path('app_login') }}">Connectez vous</a> pour pouvoir laisser un commentaire !</p>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            {% if(comments is null) %}
                <p>Aucun commentaire pour le moment</p>
            {% else %}
                {% for comment in comments %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                {{ comment.user.email }}
                            </div>
                            <div class="card-body">
                                    <p>{{ comment.description }}</p>
                                    <p class="card-footer fst-italic">— {{ comment.publicationDate|date('d.m.Y H:i:s') }}</p>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
