{% extends 'base.html.twig' %}

{% block title %}Realisation index{% endblock %}
     {% block stylesheets %}
         {{ parent() }}
         {{ encore_entry_link_tags('styles/realisation') }}
     {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_link_tags('js/realisation') }}
    {% endblock %}
{% block body %}
    {{ include('menu/menu.html.twig', {lightMode: true}) }}
    <h1 class="text-center">Realisations</h1>
    <div class="container">

    {% for realisation in realisations |batch(3)%}
        <div class="gallery-wrap">
            {% for column in realisation%}
                <div onclick="location.href='{{ path('presentation', {'slug': column.slug}) }}';" class="item" style="cursor: pointer; background-image: url('../uploads/images/realisation/{{ column.image }}')"></div>
            {% endfor %}
        </div>
    {% else %}
        <tr>
            <td colspan="6">Une erreur est survenue, article introuvable.</td>
        </tr>
    {% endfor %}

    </div>
    </div>
    </tbody>
    </table>
{% endblock %}
